body{
    width: 1200px;
    margin:0 auto;
}
table{
    width: 500px;
    border: 1px solid black;
    margin-top: 10px;
    border-collapse: collapse;
  
}
tr,th,td{
    border-bottom:1px solid black ;
    text-align: center;
    
}
td{
    padding:10px ;
    
}